@import url('../css/reset.css');
@import url('../css/css.css');
@import url('../css/swiper-bundle.css');

@font-face{
    font-family: apple;
    font-weight: bold;
    src: url('../fonts/AppleSDGothicNeoB.ttf');
}
@font-face{
    font-family: apple;
    font-weight: normal;
    src: url('../fonts/AppleSDGothicNeoL.ttf');
}
